@import "../1-tools/-tools-imports";
@import "../2-base/-base-imports";
@import "index";


#aboutPage{

/*  generic */
@extend %generic;
@extend %mediaQueries;
@extend %navBar;
/* end generic */

/* landing */
#landingAboutPage{
	background: url(../../images/bg.png) fixed;
	background-size: cover;
	background-position: center;

.jumbotron{
	@extend %jumbotron
}
}

#purpose, #beliefs{
	padding: 50px 10px 30px 10px;

	h3{
		font-size: 2em;
	}
	p{
		font-size: $p-size;
		padding: 0 30px;
		margin-top: 20px;
	}
	.col-sm-6{
		margin-top: 50px;
		margin-bottom: 0;
	}
}

/* end landing */


/* bishop */

#bishop{
	background: url(../../images/bg3.png) fixed;
	background-size: cover;
	background-position: center;
	color: white;

	h3{
		padding-top: 20px;
		margin-bottom: 40px;
		font-size: 4em;
	}
	p{
		font-size: $p-size;
	}
}
/* end bishop */

/* footer */
#footer{
	@extend %footer;
}
/* end footer */
}
