
/* body / generic */

body{
	@extend %generic;
	@extend %mediaQueries;
	@extend %navBar;
}

/* end body / generic */

/* landing */

#landing{
	height: 100vh;
	@include backgroundImageFixed(bg);
	.jumbotron{
		@extend %jumbotron
	}
}
/* end landing */

/* location and service times */

#locations{
	padding: 50px 10px 30px 10px;

	.loc{
		color: white;
		padding: 10px 30px;
		transition: $speed;
		height: 250px;
		@include backgroundImage(bg3);

		p{
			font-size: $p-size;
		}

		&:hover{
			cursor: pointer;
		}
	}

}

/* end location and service times */

/* ministries and events*/

#ministries{
	@include backgroundImageFixed(bg3);
	color: white;

	h3{
		padding-top: 20px;
		margin-bottom: 40px;
		font-size: 4em;
	}
	p{
		font-size: $p-size;
	}
}

#events{
	@include backgroundImageFixed(bg2);
	color: white;

	.big-b-round{
		padding: 40px;
		h3{
			font-size: 3em;
		}
		p{
			font-size: $p-size;
		}
	}
	.buttons{
		padding: 0;
	}
	.heading{
			@include backgroundImageFixed(bg3);
			height: 100%;
			margin: 0;

			h4{
				font-size: 2.5em;
			}
	}
	.details{
		background-color: $gray;
		p{
			font-size: $p-size;
			padding: 0 20px;
		}
	}
	.small-b-round{

		.smallWhiteBtn{
			@extend %bigSiteBtn;
			min-width: 200px;
			padding: 7px 40px;
			font-size: 1em;
		}
	}
}

/* end ministries and events */

/* media */
#media{
	@extend #locations;

	.col-sm-6{
		padding: 30px;
	}
}
/* end media */

/* media */
#contact{
	@extend #media;
	h2{
		padding: 0 20px;
	}
	p{
		font-size: $p-size;
		padding: 0 20px;
	}
}
/* end media */
/* footer */
#footer{
	@extend %footer;
}
/* end footer */
