#LatestPage{

/* landing */
#landingAboutPage{
	@include backgroundImageFixed(bg);

.jumbotron{
	@extend %jumbotron
}
}

#purpose, #beliefs{
	padding: 50px 10px 30px 10px;

	h3{
		font-size: 2em;
	}
	p{
		font-size: $p-size;
		padding: 0 30px;
		margin-top: 20px;
	}
	.col-sm-6, .col-sm-4{
		margin-top: 50px;
		margin-bottom: 0;
	}
}

/* end landing */


/* bishop */

#image{
	@include backgroundImageFixed(bg3);
	color: white;

	h3{
		padding-top: 20px;
		margin-bottom: 40px;
		font-size: 4em;
	}
	p{
		font-size: $p-size;
		padding: 20px;
	}
}
/* end bishop */

/* map*/
#googleMap{
	@extend %map;
}
/* map*/

/* footer */
#footer{
	@extend %footer;
}
/* end footer */
}
